ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

i a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1a6d4e;
}

body {
    background-color: rgb(54, 35, 47);
}

h1 {
    padding-top: 15%;
    color: rgb(110, 0, 110);
}